<div class="reveal" data-reveal data-close-on-click="false" id="voting-help" role="dialog" aria-modal="true" aria-labelledby="voting-help-label" data-multiple-opened="true" aria-live="polite">
  <div class="reveal__header">
    <h3 id="voting-help-label" class="reveal__title text-center"><%= t(".title") %></h3>
    <div class="static__content text-center">
      <span class="subtitle"><%= t(".subtitle") %></span>
    </div>
  </div>
  <div class="row">
    <% %w(icon-selected-list icon-stamped-ballot icon-ballot-box).each_with_index do |item, index| %>
      <% state = index == 0 ? "active" : "" %>
      <div class="columns small-12 medium-4 voting-help-item">
        <div class="row">
          <div class="circle <%= state %>">
            <%= render partial: "decidim/budgets/partials/svgs/#{item}", formats: [:svg] %>
          </div>
        </div>
        <div class="help-description <%= state %>">
          <span class="strong"><%= index+1 %>.</span>
          <span><%= t(".step#{index+1}") %></span>
        </div>
      </div>
    <% end %>
  </div>
  <div class="row margin-top-2">
    <div class="columns medium-8 medium-offset-2">
      <button class="button expanded" data-close type="button">
        <%= t(".confirm") %>
      </button>
    </div>
  </div>
</div>
