<div class="reveal" data-reveal id="budget-confirm">
  <% if current_order.present? %>
    <div class="reveal__header">
      <h3 class="reveal__title"><%= t(".title") %></h3>
      <button class="close-button" data-close aria-label="<%= t(".cancel") %>" type="button">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <p><%= t(".description") %></p>
    <div class="card card--secondary">
      <ul class="card__content">
        <% current_order.projects.each do |project| %>
          <li class="budget-summary__selected-item">
            <%= translated_attribute(project.title) %>
            <strong class="budget-summary__selected-number">
              <%= budget_to_currency project.budget_amount %>
            </strong>
          </li>
        <% end %>
      </ul>
    </div>
    <p class="text-center"><%= t(".are_you_sure") %></p>

    <% if !voting_booth_forced? && voting_terms.present? %>
        <h4 class="text-center"><%= t(".is_this_correct") %></h4>
      <div class="margin-bottom-2 card card--secondary">
      <div class="card__content">
        <%== voting_terms %>
      </div>
      </div>
    <% end %>

    <div class="row">
      <div class="columns medium-8 medium-offset-2">
        <%= button_to t(".confirm"), checkout_budget_order_path(budget), class: "button expanded", data: { disable: true } %>
      </div>
    </div>
    <div class="text-center">
      <button class="link" data-close><%= t(".cancel") %></button>
    </div>
  <% end %>
</div>
