<%= render partial: "layouts/decidim/meta_tags_config" %>
<!DOCTYPE html>
<html lang="<%= I18n.locale %>" class="no-js">
  <head>
    <title><%= decidim_page_title %></title>
    <%= render partial: "layouts/decidim/head" %>
    <%= render partial: "layouts/decidim/js_configuration" %>
  </head>

  <body>
    <!--noindex--><!--googleoff: all-->
    <%= render partial: "layouts/decidim/impersonation_warning" %>
    <%= render partial: "layouts/decidim/cookie_warning" %>
    <%= render partial: "layouts/decidim/timeout_modal" %>
    <!--googleon: all--><!--/noindex-->

    <%= render partial: "layouts/decidim/budgets/voting_notification" %>
    <%= render "layouts/decidim/budgets/voting_wrapper" do %>
      <%= yield %>
    <% end %>

    <%= render partial: "decidim/shared/confirm_modal" %>
    <%= render partial: "layouts/decidim/cors" if Decidim.cors_enabled %>
  </body>
</html>
