<div class="card card--full card--process">
  <div class="row collapse card--process__row">
    <div class="columns mediumlarge-8 large-6 card--process__column">
      <div class="card__content">
        <%= link_to budget_path(budget), class: link_class do %>
          <h3 class="card--title">
            <%= translated_attribute(title) %>
          </h3>
        <% end %>

        <div class="heading5">
          <strong>
            <%= budget_to_currency(total_budget) %>
          </strong>
        </div>

        <%= decidim_sanitize html_truncate(translated_attribute(description), length: 140) %>
      </div>
    </div>
    <div class="columns mediumlarge-8 large-6 card--process__column">
      <div class="card--full__image"
      style="background-image:url('<%= budget.attached_uploader(:main_image).path %>')">
        <div class="card__content row collapse">
          <div class="large-6 large-offset-6 columns">

            <% if !voting_finished? %>
              <div class="budget-list__icon mr-s">
                <% if voted? %>
                  <span class="button tiny success card--list__check card--list__check--disabled card--list__check--inline">
                    <%= icon "check", class: "icon--small", role: "img", aria_label: t("decidim.budgets.budget_list_item.voting_finished") %>
                  </span>
                <% elsif progress? %>
                  <span class="button tiny warning card--list__check card--list__check--disabled card--list__check--inline">
                    <%= icon "bookmark", class: "icon--small", role: "img", aria_label: t("decidim.budgets.budget_list_item.voting_started") %>
                  </span>
                <% end %>
              </div>
            <% end %>

            <%= link_to budget_path(budget), class: "button expanded button--sc" do %>
              <span class="show-for-sr"><%= t(".take_part") %></span>
              <span aria-hidden="true"><%= t(".take_part") %></span>
              <span class="button__info"><%= t(".current_phase", phase: translated_attribute(cuurent_phase)) %></span>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
