<div class="card card--full card--process">
  <div class="row collapse card--process__row">
    <div class="columns mediumlarge-8 large-6 card--process__column">
      <div class="card__content">
      <% if voted_this?(budget) %>
        <h3 class="card--title">
            <% if zip_code_workflow? %>
              <%= translated_attribute(budget.scope.name) %>
            <% else %>
              <%= translated_attribute(title) %>
            <% end %>
          </h3>
      <% else %>
        <%= link_to budget_voting_index_path(budget), class: link_class do %>
          <h3 class="card--title">
            <% if zip_code_workflow? %>
              <%= translated_attribute(budget.scope.name) %>
            <% else %>
              <%= translated_attribute(title) %>
            <% end %>
          </h3>
        <% end %>
      <% end%>

        <% if zip_code_workflow? %>
          <div class="heading5 margin-bottom-3">
              <p><%= budget_scope_type(budget) %></p>
          </div>
          <%= link_to budget_voting_index_path(budget), class: "button hollow #{"disabled" if voted_this?(budget)}" do %>
            <span class="text-wrap"><%= t("decidim.budgets.budget_list_item.more_info") %></span>
          <% end %>
        <% else %>
          <div class="heading5">
              <strong>
                <%= budget_to_currency(total_budget) %>
              </strong>
            </div>

          <%= decidim_sanitize html_truncate(translated_attribute(description), length: 140) %>
        <% end %>
      </div>
    </div>
    <div class="columns mediumlarge-8 large-6 card--process__column">
      <div class="card--full__image <%= mark_image_as_voted(budget) %>"
      style="background-image:url('<%= budget.attached_uploader(:main_image).path %>')">
        <div class="card__content row collapse">
          <div class="large-6 large-offset-6 columns">

            <% if !voted_this?(budget) %>
              <%= link_to budget_path(budget), class: "button expanded button--sc" do %>
                <span class="show-for-sr"><%= t(".take_part") %></span>
                <span aria-hidden="true"><%= t(".take_part") %></span>
                <span class="button__info"><%= t(".current_phase", phase: translated_attribute(cuurent_phase)) %></span>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
