<div class="content">
  <div class="wraper">
    <div class="row collapse">
      <div class="columns large-8 large-centered text-center page-title margin-top-3">
        <h1><%= t(".title") %></h1>
      </div>
      <div class="row">
        <div class="columns large-6 medium-centered" id="select-wrapper">
          <div class="card">
            <div class="card__content">
              <%= decidim_form_for(@form, url: authorization_path(redirect_url: redirect_url)) do |form| %>
                <div class="row">
                  <div class="columns large-6 padding-right-0">
                    <%= form.select :phone_country, phone_country_options(form.object.phone_country), { id: "omniauth_country", include_blank: true }, class: "country-select" %>
                  </div>
                  <div class="columns large-6 padding-left-0">
                    <%= form.number_field :phone_number %>
                  </div>
                </div>
                <div class="row">
                  <div class="columns large-centered">
                    <%= form.submit t(".submit"), class:"button expanded" %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= javascript_pack_tag "decidim_select_country" %>
