<div class="reveal" data-reveal id="budget-votes-<%= budget.id %>">
  <% if projects.present? %>
    <div class="reveal__header">
      <h3 class="reveal__title"><%= t(".title", budget_title: translated_attribute(budget.title)) %></h3>
      <button class="close-button" data-close aria-label="<%= t(".close") %>" type="button">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <p><%= t(".description") %></p>
    <div class="budget-summary__total" data-total-allocation="<%= current_order.available_allocation %>" data-total-budget="<%= budget.total_budget %>">
      <span class="mini-title"><%= t(".total_budget") %>
        <strong class="mini-title__strong mini-title__strong--highlight">
          <%= budget_to_currency(budget.total_budget) %>
        </strong>
      </span>
    </div>
    <%= render partial: "decidim/budgets/projects/order_progress", locals: { checkout?: true } %>
    <div class="m-bottom">
      <span class="mini-title">
        <%= t(".assigned") %>
        <%= render partial: "decidim/budgets/projects/order_total_budget" %>
      </span>
    </div>
    <div class="card card--secondary">
      <ul class="card__content">
        <% projects.each do |project| %>
          <li class="budget-summary__selected-item">
            <%= translated_attribute(project.title) %>
            <strong class="budget-summary__selected-number">
              <%= budget_to_currency project.budget_amount %>
            </strong>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="text-center">
      <button class="button primary expanded" data-close><%= t(".ok") %></button>
    </div>
  <% end %>
</div>
