<div class="row">
  <div class="row">
    <div class="columns medium-8 large-9">
      <%= button_to decidim.root_path, class: "link margin-bottom-3", method: :get do %>
          <%= icon "chevron-left", class: "icon--small", role: "img", "aria-hidden": true %>
          <%= t("cancel_voting", scope: "decidim.budgets.budgets.index") %>
      <% end %>
    </div>
  </div>
  <div class="columns medium-7 mediumlarge-8">
    <div class="section">
    <% if zip_code_workflow? %>
      <h2 class="section-heading">
        <%= t(".title") %>
      </h2>
      <p>
        <%= t(".based_on_zip_code", zip_code: user_zip_code(current_user, current_component))%>
        <% if !voted_any? %>
          <%= t(".not_right_one", link: link_to(t(".change_it_here"), new_zip_code_path)) %>
        <% end %>
      </p>
    <% else %>
      <%= decidim_sanitize_editor(landing_page_content) %>
    <% end %>
    </div>
  </div>
    <div class="columns medium-5 mediumlarge-4">
  <% if !voted_any? %>
      <div class="callout warning font-customizer">
        <%= decidim_sanitize_editor(landing_page_content) %>
      </div>
  <% end %>
    </div>
</div>
